footer {
	color:#222;
	background: #f2f2f2;
	
}
#france {
	font-size: 15px;
}
#connexion {
	border: 4px solid #222;
}


#page {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
#content {
	flex-grow: 1;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

#header {
	display: flex;
	justify-content: flex-end;
	
}

.lienheader{
	display: block;
	justify-content: flex-end;
	padding: 3px;
}
#logo {
	display: flex;
	align-items: center;
}


#google {
	display: flex;
	align-items: center;
	flex-direction: column-reverse;
}

#recherche_google {
	display: flex;
	justify-content: center;
}
.bouton_recherche {
	display: flex;
	flex-direction: row;
	justify-content: center;
}


#links {
	display: flex;
	justify-content: space-between;
	align-items: row
}


#right_side {
display: flex;
justify-content: flex-start;
}

#left_side {
display: flex;
justify-content: flex-end;
}


.right_side {
	display: block;
	padding: 5px;
	justify-content: flex-end;
}


.left_side {
	display: block;
	padding: 5px;
	justify-content: flex-start;
}
